DietHolder/DietHolderAdmin/Service References/ServiceReferenceDatabaseManager/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DatabaseManager" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/System.Data" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/DietHolderServiceLibrary" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDatabaseManager_ShowAllPositionsFromTableProducts_InputMessage">
    <wsdl:part name="parameters" element="tns:ShowAllPositionsFromTableProducts" />
  </wsdl:message>
  <wsdl:message name="IDatabaseManager_ShowAllPositionsFromTableProducts_OutputMessage">
    <wsdl:part name="parameters" element="tns:ShowAllPositionsFromTableProductsResponse" />
  </wsdl:message>
  <wsdl:message name="IDatabaseManager_SearchProduct_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchProduct" />
  </wsdl:message>
  <wsdl:message name="IDatabaseManager_SearchProduct_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchProductResponse" />
  </wsdl:message>
  <wsdl:message name="IDatabaseManager_InsertProduct_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertProduct" />
  </wsdl:message>
  <wsdl:message name="IDatabaseManager_InsertProduct_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertProductResponse" />
  </wsdl:message>
  <wsdl:message name="IDatabaseManager_UpdateProduct_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateProduct" />
  </wsdl:message>
  <wsdl:message name="IDatabaseManager_UpdateProduct_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateProductResponse" />
  </wsdl:message>
  <wsdl:message name="IDatabaseManager_DeleteProduct_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteProduct" />
  </wsdl:message>
  <wsdl:message name="IDatabaseManager_DeleteProduct_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteProductResponse" />
  </wsdl:message>
  <wsdl:portType name="IDatabaseManager">
    <wsdl:operation name="ShowAllPositionsFromTableProducts">
      <wsdl:input wsaw:Action="http://tempuri.org/IDatabaseManager/ShowAllPositionsFromTableProducts" message="tns:IDatabaseManager_ShowAllPositionsFromTableProducts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDatabaseManager/ShowAllPositionsFromTableProductsResponse" message="tns:IDatabaseManager_ShowAllPositionsFromTableProducts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchProduct">
      <wsdl:input wsaw:Action="http://tempuri.org/IDatabaseManager/SearchProduct" message="tns:IDatabaseManager_SearchProduct_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDatabaseManager/SearchProductResponse" message="tns:IDatabaseManager_SearchProduct_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertProduct">
      <wsdl:input wsaw:Action="http://tempuri.org/IDatabaseManager/InsertProduct" message="tns:IDatabaseManager_InsertProduct_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDatabaseManager/InsertProductResponse" message="tns:IDatabaseManager_InsertProduct_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateProduct">
      <wsdl:input wsaw:Action="http://tempuri.org/IDatabaseManager/UpdateProduct" message="tns:IDatabaseManager_UpdateProduct_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDatabaseManager/UpdateProductResponse" message="tns:IDatabaseManager_UpdateProduct_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteProduct">
      <wsdl:input wsaw:Action="http://tempuri.org/IDatabaseManager/DeleteProduct" message="tns:IDatabaseManager_DeleteProduct_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDatabaseManager/DeleteProductResponse" message="tns:IDatabaseManager_DeleteProduct_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IDatabaseManager" type="tns:IDatabaseManager">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ShowAllPositionsFromTableProducts">
      <soap:operation soapAction="http://tempuri.org/IDatabaseManager/ShowAllPositionsFromTableProducts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchProduct">
      <soap:operation soapAction="http://tempuri.org/IDatabaseManager/SearchProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertProduct">
      <soap:operation soapAction="http://tempuri.org/IDatabaseManager/InsertProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateProduct">
      <soap:operation soapAction="http://tempuri.org/IDatabaseManager/UpdateProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteProduct">
      <soap:operation soapAction="http://tempuri.org/IDatabaseManager/DeleteProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DatabaseManager">
    <wsdl:port name="BasicHttpBinding_IDatabaseManager" binding="tns:BasicHttpBinding_IDatabaseManager">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/DietHolderServiceLibrary/DatabaseManager/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>