DietHolder/DietHolderClient/Service References/ServiceReferenceCaloriesCalculator/DietHolderServiceLibrary.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DietHolderServiceLibrary" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DietHolderServiceLibrary" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Person">
    <xs:sequence>
      <xs:element minOccurs="0" name="Age" type="xs:int" />
      <xs:element minOccurs="0" name="DailyActivity" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GoalToRealize" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Height" type="xs:double" />
      <xs:element minOccurs="0" name="KindOfPosture" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sex" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Weight" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Person" nillable="true" type="tns:Person" />
  <xs:complexType name="Calorify">
    <xs:sequence>
      <xs:element minOccurs="0" name="Calories" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Calorify" nillable="true" type="tns:Calorify" />
</xs:schema>