DietHolder/DietHolderClient/Service References/ServiceReferenceCaloriesCalculator/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CaloriesCalculator" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/DietHolderServiceLibrary" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICaloriesCalculator_GetBmrValue_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBmrValue" />
  </wsdl:message>
  <wsdl:message name="ICaloriesCalculator_GetBmrValue_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBmrValueResponse" />
  </wsdl:message>
  <wsdl:message name="ICaloriesCalculator_GetDailyCaloriesToEatValue_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDailyCaloriesToEatValue" />
  </wsdl:message>
  <wsdl:message name="ICaloriesCalculator_GetDailyCaloriesToEatValue_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDailyCaloriesToEatValueResponse" />
  </wsdl:message>
  <wsdl:message name="ICaloriesCalculator_GetMacrosDistribution_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMacrosDistribution" />
  </wsdl:message>
  <wsdl:message name="ICaloriesCalculator_GetMacrosDistribution_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMacrosDistributionResponse" />
  </wsdl:message>
  <wsdl:portType name="ICaloriesCalculator">
    <wsdl:operation name="GetBmrValue">
      <wsdl:input wsaw:Action="http://tempuri.org/ICaloriesCalculator/GetBmrValue" message="tns:ICaloriesCalculator_GetBmrValue_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICaloriesCalculator/GetBmrValueResponse" message="tns:ICaloriesCalculator_GetBmrValue_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDailyCaloriesToEatValue">
      <wsdl:input wsaw:Action="http://tempuri.org/ICaloriesCalculator/GetDailyCaloriesToEatValue" message="tns:ICaloriesCalculator_GetDailyCaloriesToEatValue_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICaloriesCalculator/GetDailyCaloriesToEatValueResponse" message="tns:ICaloriesCalculator_GetDailyCaloriesToEatValue_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMacrosDistribution">
      <wsdl:input wsaw:Action="http://tempuri.org/ICaloriesCalculator/GetMacrosDistribution" message="tns:ICaloriesCalculator_GetMacrosDistribution_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICaloriesCalculator/GetMacrosDistributionResponse" message="tns:ICaloriesCalculator_GetMacrosDistribution_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICaloriesCalculator" type="tns:ICaloriesCalculator">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetBmrValue">
      <soap:operation soapAction="http://tempuri.org/ICaloriesCalculator/GetBmrValue" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDailyCaloriesToEatValue">
      <soap:operation soapAction="http://tempuri.org/ICaloriesCalculator/GetDailyCaloriesToEatValue" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMacrosDistribution">
      <soap:operation soapAction="http://tempuri.org/ICaloriesCalculator/GetMacrosDistribution" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CaloriesCalculator">
    <wsdl:port name="BasicHttpBinding_ICaloriesCalculator" binding="tns:BasicHttpBinding_ICaloriesCalculator">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/DietHolderServiceLibrary/CaloriesCalculator/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>